<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top    navbar-expand-md d-flex flex-column">
      <div class="container-fluid d-flex">
        <a class="navbar-brand" routerLink="/dashboard" style="line-height: 40px;font-family: Montserrat-Bold;">
          <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
          Angular Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto ul1">
            <li class="nav-item">
              <a class="nav-link link" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" routerLink="/dashboard-listagem"><i class="fas fa-th-list"></i> Listagem</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" routerLink="/dashboard-cadastro"><i class="fas fa-address-card"></i> Cadastrar</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto ul2">
            <li class="nav-item">
              <a class="navbar-brand" routerLink="/dashboard" style="line-height: 40px;font-family: Montserrat-Bold;">
                <img src="assets/data/john_doe_1.jpg" width="40" height="40" class="d-inline-block align-top rounded" alt="">
                <span style="margin-left: 10px;" class="user">John Doe</span>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<main role="main">
    <div class="starter-template text-left">
        <div class="container">    
            <h1>{{ titulo }}</h1>

            <div class="table-responsive">

              <table mat-table [dataSource]="dataSource" class="table">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <ng-container matColumnDef="inputNomeCompleto">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Nome Completo </th>
                  <td scope="row" mat-cell *matCellDef="let element"> {{element.inputNomeCompleto}} </td>
                </ng-container>
              
                <ng-container matColumnDef="inputApelido">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Apelido </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputApelido}} </td>
                </ng-container>
              
                <ng-container matColumnDef="inputCPF">
                  <th scope="col" mat-header-cell *matHeaderCellDef> CPF </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputCPF}} </td>
                </ng-container>
              
                <ng-container matColumnDef="inputSexo">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Sexo </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputSexo}} </td>
                </ng-container>

                <ng-container matColumnDef="inputNascimento">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Nascimento </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputNascimento}} </td>
                </ng-container>

                <ng-container matColumnDef="inputCEP">
                  <th scope="col" mat-header-cell *matHeaderCellDef> CEP </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputCEP}} </td>
                </ng-container>

                <ng-container matColumnDef="inputCidade">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Cidade </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputCidade}} </td>
                </ng-container>

                  <ng-container matColumnDef="inputEstado">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputEstado}} </td>
                </ng-container>

                <ng-container matColumnDef="inputEmail">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputEmail}} </td>
                </ng-container>

                <ng-container matColumnDef="inputTelefone">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Telefone </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputTelefone}} </td>
                </ng-container>

                <ng-container matColumnDef="inputCelular">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Celular </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputCelular}} </td>
                </ng-container>

                <ng-container matColumnDef="inputUsuario">
                  <th scope="col" mat-header-cell *matHeaderCellDef> Usuario </th>
                  <td mat-cell *matCellDef="let element"> {{element.inputUsuario}} </td>
                </ng-container>              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
        </div>
    </div>
</main>