    <div class="container">    
      <div class="row align-items-center text-center">
        <div class="col-12 col-md-6 order-md-1 mb-5 mb-md-0">
          <div class="text-center">
            <img src="assets/img/frontend-backend-development.png" alt="Imagem da tela de login" class="img-fluid">
          </div>      
        </div>
        <div class="col-12 col-md-5 col-xl-4 offset-xl-2 offset-md-1 order-md-2 my-5">
          <form method="POST" id="formLogar" class="form-signin" [formGroup]="formLogar" (ngSubmit)="logar()">
            <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>
            <label for="inputUsuario" class="sr-only">Usuário</label>
            <input type="text" id="inputUsuario" class="form-control" placeholder="Digite seu usuário" autofocus  ng-required="true" formControlName="inputUsuario">
    
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua senha" ng-required="true" formControlName="inputPassword">
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Lembrar usuário e senha
              </label>
            </div>
            <div class="mb-3">
              <label>
                Novo por aqui? <a style="color: #FF9D55;" routerLink="/criar-conta"> crie uma conta agora!</a>
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Entrar</button>
            <!--<div *ngIf="inputUsuario.invalid"> Informe o seu usuário. </div>
            <div *ngIf="inputPassword.invalid"> Informe a sua senha. </div>-->
            </form>      
        </div>    
      </div>  
    </div>
