<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top    navbar-expand-md d-flex flex-column">
    <div class="container-fluid d-flex">
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto ul1">
          <li class="nav-item">
            <a class="nav-link link" routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" routerLink="/dashboard-listagem">Listagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" routerLink="/dashboard-cadastrar">Cadastrar</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto ul2">
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/dashboard" style="line-height: 40px;font-family: Montserrat-Bold;">
              <img src="assets/data/john_doe_1.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
              John Doe
          </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>