<section class="home-section">
  <div class="row align-items-center text-center">
    <div class="col-12 col-md-7">
      <h1>What is Lorem Ipsum?</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>  
    <div class="col-12 col-md-5">
      <div class="text-center">
        <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
      </div>      
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-12">
          <button class="btn btn-lg btn-primary" routerLink="/criar-conta">Criar Conta</button>  
      </div>
  </div>
</section>  

<section class="home-section">
  <div class="row align-items-center text-center">
      <div class="col-12">
        <h2>Where can I get some</h2>
      </div>  
  </div>
  
  <div class="row align-items-center text-center">
      <div class="col-12 col-md-4">
          <div class="text-center">
            <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
          </div>      
      </div> 
      <div class="col-12 col-md-4">
          <div class="text-center">
            <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
          </div>      
      </div> 
      <div class="col-12 col-md-4">
          <div class="text-center">
            <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
          </div>      
      </div> 
  </div>
</section>