<section>
    <div class="row align-items-center text-center">
        <div class="col-12 col-md-5">
            <div class="text-center">
              <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
            </div>      
          </div>
        <div class="col-12 col-md-7">
          <h1>Why do we use it</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>  
    </div>
</section>