<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top    navbar-expand-md d-flex flex-column">
    <div class="container d-flex">
        <a class="navbar-brand" routerLink="/home" style="line-height: 40px;font-family: Montserrat-Bold;">
            <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
            Angular Dashboard
        </a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto ul1">
          <li class="nav-item">
            <a class="nav-link link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" routerLink="/sobre">Sobre Nós</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto ul2">
          <li class="nav-item">
            <a class="nav-link link" routerLink="/login-conta">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link criarconta" routerLink="/criar-conta">Criar Conta</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="starter-template">
    <section>
        <div class="row align-items-center text-center">
            <div class="col-12 col-md-5">
                <div class="text-center">
                  <img src="assets/img/frontend-backend-development.png" alt="" class="img-fluid">
                </div>      
              </div>
            <div class="col-12 col-md-7">
              <h1>Why do we use it</h1>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>  
        </div>
    </section>
  </div>
</main>